.doi {
    margin: 0 auto;
}.thongtin{
    text-align: center;
}
.aboutpass
{
    height: 500px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #686868;
}
.lable-input2 {
    font-family: Poppins-Regular;
    font-size: 18px;
    color: #333333;
    line-height: 1.5;
    padding-left: 7px;
    margin-top: 15px;
    width: 200px;
  }