.content5 {
    /* border-collapse: collapse; */
    display: table;
    table-layout: fixed;
    max-width: 1140px;
    margin: 0px auto;
}

.chua {
    height: 500px;
    background: #fff;
    margin-top: 100px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #686868;
}

.content-right {
    border: 3px solid #f2f2f2;
    border-radius: 20px;
    padding: 70px 50px;
    margin-top: 20px;
}

.thongtin {
    font-size: 29px;
    font-weight: 700;
}

.img-fluid {
    margin-top: 50px;
    margin-left: 15px;
    background-color: yellow;
}

.wrap-input {
    width: 70%;
    position: relative;
    border-bottom: 2px solid #d9d9d9;
    margin-bottom: 23px;
    position: relative;
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.lable-input {
    font-family: Poppins-Regular;
    font-size: 18px;
    color: #333333;
    line-height: 1.5;
    padding-left: 7px;
    margin-top: 15px;
    width: 100px;
}

.haicham {
    margin-top: 15px;
}

.input100 {
    font-family: Poppins-Medium;
    font-size: 18px;
    color: #333333;
    line-height: 1.2;
    display: block;
    width: 70%;
    height: 55px;
    background: transparent;
    padding: 0 7px 0 13px;
}

.input100 {
    outline: none;
    border: none;
}

.mr-10 {
    margin-right: 10px;
    border-radius: 25px;
    height: 100%;
    width: 150px;
    margin-top: 10px;
}


/*
  .group-button {
    margin-left: 800px;
    margin-top: 20px;
  } */