* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.wrap-login {
    width: 500px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding-right: 55px;
    padding-top: 205px;
    padding-left: 55px;
    padding-bottom: 154px;
    margin-top: -100px;
}

.container1 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.login-form {
    width: 100%;
}

.login-title {
    display: block;
    font-family: Poppins-Bold;
    font-size: 39px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 49px;
    margin-top: -150px;
}

.wrap-input {
    width: 70%;
    position: relative;
    border-bottom: 2px solid #d9d9d9;
    margin-bottom: 23px;
    position: relative;
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.lable-input {
    font-family: Poppins-Regular;
    font-size: 18px;
    color: #333333;
    line-height: 1.5;
    padding-left: 7px;
}

.input100 {
    font-family: Poppins-Medium;
    font-size: 18px;
    color: #333333;
    line-height: 1.2;
    display: block;
    width: 70%;
    height: 55px;
    background: transparent;
    padding: 0 7px 0 13px;
}

.input100 {
    outline: none;
    border: none;
}

.text-right {
    text-align: right!important;
    text-align: right;
    padding-bottom: 31px;
    padding-top: 8px;
}

.btn-submit {
    outline: none !important;
    border: none;
    background: transparent;
}

.btn-submit {
    border-radius: 25px;
    width: 70%;
    margin-left: 50px;
    height: 100%;
    font-family: Poppins-Medium;
    font-size: 22px;
    color: white;
    line-height: 1.2;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    align-items: center;
    padding: 0 20px;
    height: 50px;
    background: -webkit-linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
}

.btn-submit:hover {
    cursor: pointer;
    color: black;
    background: -webkit-linear-gradient(right, #00dbde, #00dbde, #fc00ff, #fc00ff);
}

.login-form {
    display: block;
    margin-top: 0em;
}

.btn-submit,
.input100 {
    overflow: visible;
}

.quenpass {
    font-family: Poppins-Regular;
    font-size: 16px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

.icon {
    padding-left: 5px;
    padding-top: 10px;
    height: 40px;
}