@media only screen and (max-width: 1000px) {
  .areaDesktop {
      display: none;
  }
  .areaApp {
      display: table;
  }
}
@media only screen and (min-width: 1001px) {

  .areaApp {
      display: none;
  }
  .areaDesktop {
      display: initial;
  }
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #8C8C8C;
  font-size: 1.2rem;
  font-family: 'San Francisco Text';
  line-height: 2.4rem;
}
  .header {
    width: 100%;
    font-family: 'San Francisco Text';
    border-bottom: 1px soid black;
  }
  .header .container-fluid{
    padding-right: 0 !important;
    padding-left:  0 !important;
  }
  .navbar {
    /* height: 8rem; */
    border: none;
    background-color: #FFFFFF !important;
    border-bottom: 1px solid #E8E8E8;
  }
  
   .logo {
    /* position: absolute; */
    width: 5.425rem;
    /* border-left: 1px solid; */
    /* height: 4rem; */
    /* margin-left: 1rem; */
    /* margin-top: 1rem; */
    background-color: #f8f9fa!important;
  
  }
  .header a{
    font-size: 1rem;
    line-height: 1.909rem;
    font-weight: 700;
    color: #DBDBDB;
  
  }
  .header li {
    list-style: none;
  }
  .header .navbar .nav-tabs a{
    padding-left: 2.8rem;
  }
  .header .navbar .nav-tabs a:hover{
    background:none;
  
    border: none;
  }
  .header .navbar .nav-tabs .active{
    background-color:#FFFFFF;
    border: none;
  
  }
  .header-right {
    float: right;
  
  }
  .bi-search {
    margin-right: 1.4rem;
    margin-top: 0.7rem;
  }
  .header-right .userimg{
    border-radius: 50%;
    width: 2.8rem;
    height: 2.8rem;
    margin-right: 1.4rem;
    /* padding-right: 1.2rem; */
    /* padding-left: 3.4rem; */
  }
  .header-right .btn-login:focus{
    outline: none;
  }
  
  .header-right .btn-login {
    border: none;
    background: none;
    /* width: 70%; */
    display: contents;
    color: #1890FF;
    font-weight: 400; 
    font-size: 1rem;
    line-height: 3.2rem;
    padding-right: 3.4rem;
    padding-left: 1.4rem;
  
  }
  .btn-login:hover{
    color: #1890FF;
  }
  .header  .search {
    margin: 0 auto;
    width: 75%;
    border-radius: 10px;
    padding-left: 1.75rem;
    /* padding-top: 0.45rem; */
    border: 1px solid #1890FF;
    height: 3rem;
    position: relative;
  }
  .bi-search1 {
    margin-right: 0.95rem;
  }
  .input-search {
    width: 90%;
    height: 80%;
    padding-top: 0.5rem;
    font-size: 1rem;
    border: none;
  }
  .input-search:focus{
    outline: none;
  }
  .delete {
    padding-top: 0.7rem;
    /* padding-right: 1%; */
    float: right;
    position: absolute;
  }

  .row{
    margin-right: 0px;
    margin-left: 0px;
  }
  .show {
    padding-left: 10px;
    padding-right: 10px;
  }
  /* areaApp */
 .areaApp {
    margin-top: 1rem;
    /* padding-left: -15px;
    margin-right: -15px; */
    /* margin-bottom: 2rem; */
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid #e7e8e9; 
  }
  .areaApp b{
    font-family: 'Poppins';
    color: #FF8C29;
    font-weight: 500;
    /* line-height: 2.8rem; */
    font-size: 1.2rem;
  }
  .areaApp li{
    margin-top: 1rem;
  }
  .areaApp li a {
    font-family: 'San Francisco Text';
    font-size: 1rem;
    line-height: 2.2rem;
    color: #262626;
    font-style: normal;
    font-weight: 400;
    
  }
  .collapse  .li-dangNhap a {
    color: #1890FF;
  }

  .areaApp .input-search {
    font-family: 'San Francisco Text';
    font-size: 1.2rem;
    line-height: 2.4rem;
    font-style: normal;
    color: #8C8C8C;
  }


  /* Header User */
  .p-user {
    color: #1890FF;
    display: contents;
  }
  .p-dangxuat{
    color: #FF4D4F;
    display: inline-block;
  }
  .chuong{
    padding-right: 2.5rem;
    padding-top: 0.8rem;
  }

  .multi-collapse{
    float: right;
    padding-right: 2rem;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    margin-right: 2rem;
    padding-left: 1rem;
  }
  .multi-collapse a{
    font-size: 0.9rem;
    font-family: 'San Francisco Text';
font-style: Medium;
text-align: Left;
color: #262626;
  }
  .row .col-2{
    padding-right: 32px !important;
  }