@font-face {
    font-family: SanFranciscoText;
    src: url(san_francisco-webfont.woff);
  }

    .clearfix:after {
        clear: both;
        content: ".";
        display: block;
        width: 0px;
        height: 0px;
    }
    
    .label-warning {
        background-color: #f0ad4e;
    }
    
    .label-success {
        background-color: #5cb85c;
    }
    
    .label {
        display: inline;
        padding: .2em .6em .3em;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25em;
    }
    
    /* body {
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
    } */
    
    /* @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    } */
    /*loading*/

    .filter{
        background-color: #00000036;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1000;
    }
 
    .item-container {
        margin: 0 auto;
        padding-top: 15px !important;
    }
    .dashed-loading {
        position: absolute;
        width: auto;
        display: inline;
        margin-top: -5px;
        margin-left: 30px;
    }
    
    .rs-pd-mr{
        padding:0px;
        margin:0px;
    }
    .dashed-loading:after,
    .dashed-loading:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }
    
    .dashed-loading:before {
        /* z-index: 5; */
        border: 3px dashed var(--blue);
        border-left: 3px solid transparent;
        border-bottom: 3px solid transparent;
        -webkit-animation: dashed 1s linear infinite;
        animation: dashed 1s linear infinite;
    }
    
    .dashed-loading:after {
        /* z-index: 10; */
        border: 3px solid var(--blue);
        border-left: 3px solid transparent;
        border-bottom: 3px solid transparent;
        -webkit-animation: dashed 1s ease infinite;
        animation: dashed 1s ease infinite;
    }
    
    @keyframes dashed {
        to {
            transform: rotate(360deg);
        }
    }
    /*end loading*/
    
    .navbartdc {
        width: 100%;
        height: 100%;
        border-bottom: 0.5px solid rgb(239, 240, 255);
        margin-top: 0.5%;
        font-size: 2rem;
        font-weight: 450;
    }
    
    #root {
        min-height: 1000px;
        max-height: auto;
    }
    

    
    td img {
        width: 40px;
    }
    
    .img-fluid {
        margin-top: 20px;
    }
    
    .mrbot-30 {
        margin-bottom: 30px;
    }
    
    .link {
        text-decoration: none;
    }
    
    .textlink {
        color: rgb(240, 121, 51);
        float: left;
    }
    /*form*/
    
    .search-form {
        float: right;
        margin-top: 1%;
    }
    
    .btn-search {
        width: auto;
        margin: 0px;
    }
    
    .btn-outline-orange {
        color: rgb(240, 121, 51);
        border: 1px solid rgb(240, 121, 51);
    }
    
    .btn-outline-orange:hover {
        color: #FFFFFF;
        border: 1px solid #FFFFFF;
        background-color: rgb(240, 121, 51);
    }
    /*card*/
    
    .card {
        background: #FFFFFF;
        border: #fff;
        width: 100%;
        height: 80px;
    }
    .card-border-bot {
    }
    
    .product-card:hover {
        text-decoration: none;
    }

    .card-img {
        position: absolute;
        width: 80px;
        height: 80px;
        padding: 6px;
        border-radius: 0px;
        border-bottom: 1px solid #ffffff;
    }
    
    .card-img-top {
        padding: 2px;
        border-radius: 2rem;
    }
    
    .card:hover {
        background: #F0F5FF;
        border-radius: 8px;
        border:none;
    }
    .card:hover .card-img {
        border: #F0F5FF;
    }
    .card-group {
        margin:8px 0px 8px 0px;
        position: absolute;
        left: 64px;
        top:-14px;
        float: left;
        width: 100px;
        height: 72px;
        margin: 16px;
    }
    
    .card-title {
        font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        font-size: 16px;
        color: #262626;
        text-decoration: none;
        margin-bottom: 0px;
    }
    .card-bundlename {
        font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        font-size: 13px;
        padding-top: 5px;
        width: 100px;
        padding-bottom: 0px;
        color: #8C8C8C;
        display: block;
        white-space: nowrap;
    }
    .card-bundlename-1 {
        font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        font-size: 13px;
        margin-top: -5px;
        color: #8C8C8C;
        display: block;
        white-space: nowrap;
    }

    .margin-left-0 {
        margin-left: 0px;
    }

    .margin-right-0 {
        margin-right: 0px;
    }
    /*btn neon*/
    
    .btn-neon {
        position: relative;
        display: inline-block;
        padding: 15px 30px;
        color: #00feca;
        /*#2196f3;*/
        text-transform: uppercase;
        letter-spacing: 4px;
        text-decoration: none;
        font-size: 24px;
        overflow: hidden;
        transition: 0.2s;
    }
    /*#2196f3
    #00feca*/
    
    .btn-neon:hover {
        color: #031321;
        /*#255784;*/
        background: #00feca;
        box-shadow: 0 0 10px #031321, 0 0 40px #00feca, 0 0 80px #00feca;
        transition-delay: 1s;
    }
    
    .btn-neon span {
        position: absolute;
        display: block;
    }
    
    .btn-neon span:nth-child(1) {
        top: 0;
        left: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, #031321);
        animation: animate1 1s linear infinite;
    }

    table td,
    table th {
        font-size: 1rem;
    }
    
    table td {
        font-weight: 500;
    }
    /* end Table */
    
    @keyframes animate1 {
        0% {
            left: -100%;
        }
        50%,
        100% {
            left: 100%;
        }
    }
    
    .btn-neon span:nth-child(3) {
        bottom: 0;
        right: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(270deg, transparent, #031321);
        animation: animate3 1s linear infinite;
        animation-delay: 0.5s;
    }
    /* .btn-neon:hover span:nth-child(3)
  {
      right: 100%;
      transition: 1s;
      transition-delay: 0.5s;
  } */
    
    @keyframes animate3 {
        0% {
            right: -100%;
        }
        50%,
        100% {
            right: 100%;
        }
    }
    
    .btn-neon span:nth-child(2) {
        top: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg, transparent, #031321);
        animation: animate2 1s linear infinite;
        animation-delay: 0.25s;
    }
    /* .btn-neon:hover span:nth-child(2)
  {
      top: 100%;
      transition: 1s;
      transition-delay: 0.25s;
  } */
    
    @keyframes animate2 {
        0% {
            top: -100%;
        }
        50%,
        100% {
            top: 100%;
        }
    }
    
    .btn-neon span:nth-child(4) {
        bottom: -100%;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg, transparent, #031321);
        animation: animate4 1s linear infinite;
        animation-delay: 0.75s;
    }
    /* .btn-neon:hover span:nth-child(4)
  {
      bottom: 100%;
      transition: 1s;
      transition-delay: 0.75s;
  } */
    
    @keyframes animate4 {
        0% {
            bottom: -100%;
        }
        50%,
        100% {
            bottom: 100%;
        }
    }
    
    .text-menu {
        /* text-transform: uppercase; */
        /* letter-spacing: 4px; */
        text-decoration: none;
        font-size: 18px;
        overflow: hidden;
        transition: 0.2s;
    }
    /*details*/
    
    body {
        background-color: #ffffff;
        color: #333;
        /* font-family: "Roboto",Arial,sans-serif; */
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
        font-size: 13px;
        font-weight: 300;
        line-height: 1.4;
        height: 100%;
        position: relative;
        text-rendering: optimizeLegibility;
        /* z-index: -1; */
    }
    
    /* .tdcbox {
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
    }
    
    .tdcpage {
        background: #fff;
        border-radius: 2px;
        box-sizing: border-box;
        display: inline-block;
        margin: 5px;
        position: relative;
        text-align: left;
        vertical-align: top;
        white-space: normal;
        height: auto;
        width: auto;
        padding-bottom: 30px;
    } */
    
    .tdctable {
        background-color: white;
        display: inline-block;
        padding-bottom: 5px;
        width: 100%;
        vertical-align: top;
    }
    
    .tdcimgapp {
        display: table-cell;
        vertical-align: top;
        float: left;
    }
    
    .tdcimg {
        margin: 0px 16px 0 0px;
    }
    
    .tdccontent {
        height: 1px;
        padding-right: 30px;
        width: auto;
        float: left;
    }
    
    .tdccontentmg {
        display: table;
        height: 100%;
        width: 100%;
    }
    
    .tdccontentmr {
        display: table-row;
    }
    /* h1 {
        font: inherit;
    } */
    
    .titleapp {
        font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */


        /* Grey / grey-9 */

        color: #262626;

        /* Inside Auto Layout */
        margin: 0px 2px;
    }
    .contenttitle {
        font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
        /* identical to box height, or 123% */


        /* Grey / grey-7 */

        color: #8C8C8C;

        /* Inside Auto Layout */
        margin: 0px 2px;
    }

    @media only screen and (max-width:1000px) {
        .widthimg {
            width: 120px;
            background-size: contain;
        }
    }

    @media only screen and (min-width:1001px) {
        .widthimg {
            width: 120px;
            background-size: contain;
        }
    }
    @media (min-width: 1200px){
.col-hl-xl-2 {
    flex: 0 0 16.666667%;
    max-width: 13.666667%;
}}
@media (min-width: 992px){
.col-hl-lg-2 {
    flex: 0 0 16.666667%;
    max-width: 13.666667%;
}
}
    
    .status-version {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        color: #2F6BFF;
    }
    
    .cttmr {
        display: inline-block;
        margin-right: 2px;
    }
    
    .Jaixf {
        background-position: center;
        background-repeat: no-repeat;
        display: inline-block;
        height: 16px;
        vertical-align: text-bottom;
        width: 16px;
    }
    
    .btndowload {
        padding-top: 5%;
        font-family: "Roboto", Arial, sans-serif;
        text-align: right;
        vertical-align: bottom;
        width: 220px;
        margin-right: -15px;
        margin-left: -15px;
    }
    
    .btnversion {
        float: left;
        width: 100px;
        display: inline-block;
        margin: 4px 0 0 8px;
    }
    .btn-ios {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 8px 16px;

        position: static;
        width: 81px;
        height: 40px;
        left: 0px;
        top: 0px;

        background: #000000;
        border-radius: 48px;

        /* Inside Auto Layout */

        flex: none;
        order: 0;
        align-self: center;
        flex-grow: 0;
        margin: 8px 0px;
        font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        color:#FFFFFF;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */

        display: flex;
        align-items: center;
        text-align: center;

    }
    .btn-ios:hover {
        color:#FFFFFF;  
    }
    .btn-android {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 8px 16px;

        position: static;
        width: 115px;
        height: 40px;
        left: 89px;
        top: 0px;

        background: #E8E8E8;
        border-radius: 48px;

        /* Inside Auto Layout */

        flex: none;
        order: 1;
        align-self: flex-start;
        flex-grow: 0;
        margin: 8px 0px;
        color:#000000
    }
    /*Carousel*/
    
    .info-app {
        border-top: 1px solid #F5F5F5;
        padding-top: 24px;
    }
    
    .info-app h5 {
        padding-left: 5px;
    }
    
    .slide {
        height: 440px;
        margin-bottom: 35px;
        position: relative;
        /* padding: 0px 15px 0px 15px; */
        width: 100%;
        margin-bottom: 32px;
        background-color: #686868;
        padding-top: 10px;
    }

    /*SCROLL IMAGES ĐỈNH CAO TỰ CHẾ*/
.bg-image {
    /* Full height */
    height: 26rem; 
    width:12rem;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    display: inline-block;
    margin: 8px 24px 8px 0px;
    border: none;
    
    border-radius: 12px;
    }
    .bg-image:focus {
    outline: none;
    }
.slider-scroll{
    display: inline-block;
    height: 29rem;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

    /* width */
::-webkit-scrollbar {
    height: 0.5rem;
    width: 50%;
}
  
  /* Track */
::-webkit-scrollbar-track {
    
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #E8E8E8;
    border-radius: 5px;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #E8E8E8;
    border-radius: 5px;
}
    
    .carousel-indicators {
        margin-bottom: 1%;
    }
    
    .carousel-inner {
        text-align: center;
    }
    
    .img-slide {
        width: auto;
        height: 400px;
    }   
    
    .description {
        width: 100%;
    }
    
    .description-content {
        width: auto;
        margin: 10px 10px auto;
    }
    /*version*/
    
    .clearfix {
        display: block;
    }
    
    .versionbox {
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
    }
    
    .versionpage {
        background: #fff;
        border-radius: 2px;
        box-sizing: border-box;
        display: inline-block;
        margin: 5px;
        position: relative;
        text-align: left;
        vertical-align: top;
        white-space: normal;
        width: 100%;
        height: 100%;
    }
    
    .versiontable {
        background-color: white;
        display: inline-block;
        width: 100%;
        height: 100%;
        vertical-align: top;
    }
    
    .v-other {
        background: #f7f8f9;
        border-bottom: 2px solid #c5c8ca;
        padding: 5px 5px 0;
    }
    
    .v-other span {
        background: #46a54d;
        display: block;
        float: left;
        padding: 8px 15px;
        font-weight: 700;
        color: #fff;
    }
    
    .versions {
        padding: 0 5px;
        width: 100%;
        height: 100%;
        overflow-y: auto;
    }
    
    .versions th {
        font-family: "Roboto", Arial, sans-serif;
    }
    
    .versions td {
        font-family: "Roboto", Arial, sans-serif;
    }
    
    ul {
        list-style: none;
    }
    
    .link-ver {
        overflow: hidden;
        display: block;
        color: #0060b3;
        cursor: pointer;
        height: 25px;
        padding-left: 20px;
        position: absolute;
        left: 0;
        /* z-index: 10; */
        padding-top: 20px;
    }
    /* li {
  border-bottom: 1px dotted #a4a4a4;
  position: relative;
  height: 20px;
  padding: 8px 0;
} */
    
    .date2 {
        font-size: 15px;
        color: #DAD0D0;
        font-style: italic;
        position: absolute;
        /* z-index: 1; */
    }
    
    .r {
        float: left;
        text-align: center;
        display: table-cell;
        vertical-align: bottom;
        width: 148px;
    }
    
    .vdownload {
        float: left;
        font-family: "Roboto", Arial, sans-serif;
        font-size: 12px;
        text-align: center;
        width: 65px;
        height: 30px;
        display: inline-block;
        margin: 0 0 0 8px;
    }

.version-app{
}

.btn-version{
        width: 56px;
        height: 32px;
        display: inline-block;
        margin: 4px 0 10px 8px;
}

.mo-rong{
    position: absolute;
    height: 22px;
    right: 20px;
    bottom: 6px;
    font-family: San Francisco Text;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #2F6BFF;
}

.can-giua{
    margin-left: auto;
    margin-right: auto;
    color : #000000
}

.br-none{
    border: none;
}

.pagination li a{
    font-weight: bold;
    color : #000000;
    font-style: normal;
    font-weight: normal;
    border: none;
}

.br-1px-sold{
    border : 1px solid;
}

.phienbankhac{
    border-bottom: 1px ridge;
}
.phienbankhac p{
    padding-top: 3%;
    padding-left: 3%;
}

.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination > .active > a{
  background-color: #47ccde ;
  border-color: #47ccde ;
  color: #fff;
}
.pagination > li > a{
  border: 1px solid #47ccde ;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  background-color: #47ccde ;
  border-color: #47ccde;
  outline: none ;
}
.pagination > li > a, .pagination > li > span{
  color: #47ccde
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
  border-radius: unset
}

/* Use for Login page */

.logo-dangnhap
{
    text-align: center;
    width: 100%;
}

.logo-dangnhap img{
    padding-left: 20px;
    padding-bottom: 20px;
}
.bg-custom
{
    background: url(https://wallpaperaccess.com/full/1092758.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
}
.content-login{
    position: absolute;
    top: 40%;
    left: 50%;
    /* z-index: 999; */
    text-align: center;
    padding: 60px 32px;
    width: 370px;
    height: 500px;
    transform: translate(-50%,-50%);
    background: rgba(255,255,255,0.04);
    box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75)
}

.content-login header{
    color: white;
    font-size: 33px;
    font-weight: 600;
    margin: 0 0 35px 0;
    font-family: 'Montserrat',sans-serif;
}

.login-form field{
    position: relative;
    height: 45px;
    width: 100%;
    display: flex;
    background: rgba(255,255,255,0.94);
}

.login-form{
    width: 306px;
    height: 186px;
}

.field{
    position: relative;
    height: 45px;
    width: 100%;
    display: flex;
    background: rgba(255,255,255,0.94);
}

.field span{
    color: #222;
    width: 40px;
    line-height: 45px;
}

.field input{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #222;
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
}

.space{
    margin-top: 16px;
}

.show-pass{
        position: absolute;
        right: 13px;
        font-size: 13px;
        font-weight: 700;
        color: #222;
        display: none;
        cursor: pointer;
        font-family: 'Montserrat',sans-serif;
}

.forgot-pass{
    text-align: left;
    margin: 10px 0;
}

.pass-forgot{
    color: #ffffff;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
}

.fieldsubmit{
    position: relative;
    height: 45px;
    width: 100%;
    display: flex;
    background: rgba(255,255,255,0.94);
}

.submit-button{
    width: 100%;
    height: 100%;
    background: #3498db;
    border: 1px solid #2691d9;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Montserrat',sans-serif;
}

/* Use for Quan tri */

.left-sidebar{
    background: #1F262D;
    position: absolute;
    width: 250px;
    height: 100vh;
    top: 0px;
    /* z-index: 10; */
    -webkit-box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
}

.scroll-sidebar{
    height: calc(100% - 20px);
    position: relative;
}

.sidebar-nav{
    padding-top: 30px;
}

.sidebar-nav ul{
    margin: 0px;
    padding: 0px;
}

.sidebar-nav ul li{
    list-style: none;
}

.sidebar-nav ul li a{
    color: #fff;
    padding: 14px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 15px;
    white-space: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 25px;
    opacity: 1;
    
}


.top-image-name{
    padding-top: 10px;
    border-bottom: 1px ridge #ffffff;
}
.top-image-name strong{
    font-size: 25px;
    color:white;
    text-align: center;
}
.slidebar-item li{
    color: #ffffff;
}
.sidebar-item a:hover{
    background: #27a9e3;
    color: #fff;
    text-decoration: none;
}

.thong-ke{
    width: 100%;
    height: auto;
}

.menu-top-admin{
   width: 100%;
   height: 80px;
   background-color: #ffffff;
   border-bottom: 1px ridge;
}

.avatar-name{
    font-size: 13px;
    width: 48px;
    height: 48px;
    background-color: orange;
    border-radius: 30px;
    text-align: center;
    float: left;
    margin-top: 12px;
    margin-left: 20px;
}

.avatar-name p{
    font-size: 30px;
}

.tenuser{
    font-size: 20px;
    float: left;
    padding-top: 22px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 20px;
}

.element-thongke{
    width: 200px;
    height: 80px;
    background-color: #eee;
    border-radius: 10px;
    float: left;
    margin-right: 30px;
}

.element-thongke i{
    font-size: 30px;
    text-align: center;
    padding-top: 18px;
    padding-left: 45px;
}

.images-element img{
    width: 90px;
    height: 90px;
    float: left;
}

.content-element{
    float: left;
    padding-left: 15px;
}

.content-element p{
    padding-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.content-element i{
    font-size: 16px;
}

.pd-top-20px{
    padding-top: 20px;
}

.udmoicapnhat{
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.br-top-1px{
    border-top: 1px ridge;
}

.br-bot-1px{
    border-bottom: 1px ridge;
}

.text-content-homepage{
    margin-top: 30%;
    margin-left: 48px;
}

.chud{
    font-style: italic;
    font-weight: bold;
    font-size: 48px;
    color: #FFFFFF;
}

.FPT-Information{
    font-style: italic;
    font-weight: bold;
    font-size: 48px;
    color: #F27227;
}

.content-trangchu{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #C9CDD6;
}

.fis-trangchu{
    color: #F27227;
    font-weight: bold;
    display: inline;
}

.xemsanpham{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #F27227;
}

.spanMuiten{
    color: #F27227;
    font-size: 24px;
    padding-left: 8px;
}

.image-trangchu{
    width: 520.21px;
    height: 520.27px;
    position: absolute;
    margin-top: 15%;
    margin-left: 120px;
}